/out/production/MigaLang/calc.c
/out/production/MigaLang/calc.ll
/out/production/MigaLang/Demo.g4
/out/production/MigaLang/Demo.interp
/src/Demo.interp
/out/production/MigaLang/Demo.tokens
/src/Demo.tokens
/out/production/MigaLang/DemoBaseListener.class
/src/DemoBaseListener.java
/out/production/MigaLang/DemoBaseVisitor.class
/src/DemoBaseVisitor.java
/out/production/MigaLang/DemoLexer.class
/out/production/MigaLang/DemoLexer.interp
/src/DemoLexer.interp
/src/DemoLexer.java
/out/production/MigaLang/DemoLexer.tokens
/src/DemoLexer.tokens
/out/production/MigaLang/DemoListener.class
/src/DemoListener.java
/out/production/MigaLang/DemoParser$AddContext.class
/out/production/MigaLang/DemoParser$AssignContext.class
/out/production/MigaLang/DemoParser$Expr0Context.class
/out/production/MigaLang/DemoParser$Expr1Context.class
/out/production/MigaLang/DemoParser$Expr2Context.class
/out/production/MigaLang/DemoParser$IntContext.class
/out/production/MigaLang/DemoParser$MultContext.class
/out/production/MigaLang/DemoParser$ParContext.class
/out/production/MigaLang/DemoParser$PrintContext.class
/out/production/MigaLang/DemoParser$ProgContext.class
/out/production/MigaLang/DemoParser$RealContext.class
/out/production/MigaLang/DemoParser$Single0Context.class
/out/production/MigaLang/DemoParser$Single1Context.class
/out/production/MigaLang/DemoParser$StatContext.class
/out/production/MigaLang/DemoParser$TointContext.class
/out/production/MigaLang/DemoParser$TorealContext.class
/out/production/MigaLang/DemoParser.class
/src/DemoParser.java
/out/production/MigaLang/DemoVisitor.class
/src/DemoVisitor.java
/out/production/MigaLang/LLVMActions.class
/out/production/MigaLang/LLVMGenerator.class
/out/production/MigaLang/Main.class
/out/production/MigaLang/Makefile
/output.ll
/out/production/MigaLang/Value.class
/out/production/MigaLang/VarType.class
